- const trimmedURL = url.endsWith('/') ? url.slice(0, -1) : url

mixin listItem(type, name)
    form(method='post' action=`${trimmedURL}/${name}`)
        div(class='form__wrapper')
            img(src=`img/${type}.png` class='form__img' alt=type )
            button(type='submit', class='form__button')= name
    hr


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="css/style.css" rel="stylesheet")
        title Document
    body
        div
            each item in items
                +listItem(item.type, item.name)