mixin listItem(type, name)
    form(method='post' action='/')
        //- img(src=`/img/${type}.png` alt=type)
        input(type='hidden' name='name' value=name)
        input(type='hidden' name='type' value=type)
        div(style={display: 'flex', gap: '10px'})
            span(style={width: '50px'})= type
            button(type='submit', style={border: 'none', background: 'none', cursor: 'pointer'})= name
    hr


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div
            each item in items
                +listItem(item.type, item.name)